In [5]:
import pandas as pd
import numpy as ny

In [6]:
df_HD = pd.read_excel("Cardiac_Outcomes.xlsx", "Hospitalization_Discharge")
df_CC = pd.read_excel("Cardiac_Outcomes.xlsx", "CardiacComplications")
df_Res = pd.read_excel("Cardiac_Outcomes.xlsx", "Responsivenes")
df_PH = pd.read_excel("Cardiac_Outcomes.xlsx", "PatientHistory")
df_Labs = pd.read_excel("Cardiac_Outcomes.xlsx", "Labs")
df_Demo = pd.read_excel("Cardiac_Outcomes.xlsx", "Demography")
df_Ppres = pd.read_excel("Cardiac_Outcomes.xlsx", "Patient_Precriptions")

In [4]:
#Q65.Which Admission Ward has maximum number of visits scheduled?
df1 = df_HD

# counts of discharge_department
DD_value_counts = df1['discharge_department'].value_counts()
data = dict(DD_value_counts)
print(data)

# Extract discharge_department and visit_times columns
discharge_department = df1['discharge_department']
visit_times = df1['visit_times']

# Create a DataFrame with both columns
df2 = pd.DataFrame({'discharge_department': discharge_department, 'visit_times': visit_times})
print(df2)
#Getting unique discharge department with total visit time
ward_visits = df2.groupby('discharge_department')['visit_times'].sum().reset_index()
print(ward_visits)
#maximum visit per department
max_visits_ward = ward_visits.loc[ward_visits['visit_times'].idxmax()]

print(f"The admission ward with the maximum number of scheduled visits is '{max_visits_ward['discharge_department']}' "
      f"with {max_visits_ward['visit_times']} visits.")

{'Cardiology': 1703, 'GeneralWard': 241, 'Others': 52, 'ICU': 12}
     discharge_department  visit_times
0              Cardiology            1
1              Cardiology            1
2              Cardiology            2
3              Cardiology            1
4              Cardiology            1
...                   ...          ...
2003          GeneralWard            1
2004          GeneralWard            1
2005           Cardiology            1
2006           Cardiology            1
2007           Cardiology            1

[2008 rows x 2 columns]
  discharge_department  visit_times
0           Cardiology         1872
1          GeneralWard          254
2                  ICU           13
3               Others           55
The admission ward with the maximum number of scheduled visits is 'Cardiology' with 1872 visits.

In [5]:
#Q66.Display total count of patients in each discharge_department based on gender.
df_HD
df_Demo
# Merge Hospitalization_Discharge and Demography on inpatient_number 
df_merged = pd.merge(df_HD, df_Demo, on='inpatient_number')
#print(df_merged)
#No of patients discharge department wise
patients_count = df_merged.groupby(['discharge_department', 'gender']).size().reset_index(name='count')
print(patients_count)
#display total count of patients in each discharge_department based on gender.
pivot_table = patients_count.pivot_table(index='discharge_department', columns='gender', values='count', fill_value=0)
print(pivot_table)

  discharge_department  gender  count
0           Cardiology  Female    993
1           Cardiology    Male    710
2          GeneralWard  Female    137
3          GeneralWard    Male    104
4                  ICU  Female      5
5                  ICU    Male      7
6               Others  Female     28
7               Others    Male     24
gender                Female  Male
discharge_department
Cardiology               993   710
GeneralWard              137   104
ICU                        5     7
Others                    28    24

In [7]:
#Q67.How many Unique patients were precribed each type of medication?
df_Ppres

#Methord 1
Unique_patients1=df_Ppres.groupby(["Drug_name"]).size().reset_index(name='count')
print(Unique_patients1)

#Methord 2
unique_patients = df_Ppres.groupby('Drug_name')['inpatient_number'].nunique().reset_index(name='count')
print(unique_patients)

                                           Drug_name  count
0                      Aspirin enteric-coated tablet    958
1                        Atorvastatin calcium tablet    822
2                    Benazepril hydrochloride tablet    434
3               Clopidogrel Hydrogen Sulphate tablet    401
4                              Deslanoside injection   1017
5                                     Digoxin tablet    999
6                 Dobutamine hydrochloride injection     22
7                        Enoxaparin Sodium injection    113
8                               Furosemide injection   1720
9                                  Furosemide tablet   1641
10                          Heparin Sodium injection    153
11                        Hydrochlorothiazide tablet    283
12              Isoprenaline Hydrochloride injection     30
13   Isosorbide Mononitrate Sustained Release tablet    326
14  Meglumine Adenosine Cyclophosphate for injection   1115
15     Metoprolol Succinate Sustained-release tablet    523
16                               Milrinone injection    709
17                           Nitroglycerin injection    203
18                                  Shenfu injection    338
19                             Spironolactone tablet   1833
20                                 Torasemide tablet    252
21                      Valsartan Dispersible tablet    348
22                     metoprolol tartrate injection    307
23                  sulfotanshinone sodium injection    570
24                            warfarin sodium tablet    253
                                           Drug_name  count
0                      Aspirin enteric-coated tablet    958
1                        Atorvastatin calcium tablet    822
2                    Benazepril hydrochloride tablet    434
3               Clopidogrel Hydrogen Sulphate tablet    401
4                              Deslanoside injection   1017
5                                     Digoxin tablet    999
6                 Dobutamine hydrochloride injection     22
7                        Enoxaparin Sodium injection    113
8                               Furosemide injection   1720
9                                  Furosemide tablet   1641
10                          Heparin Sodium injection    153
11                        Hydrochlorothiazide tablet    283
12              Isoprenaline Hydrochloride injection     30
13   Isosorbide Mononitrate Sustained Release tablet    326
14  Meglumine Adenosine Cyclophosphate for injection   1115
15     Metoprolol Succinate Sustained-release tablet    523
16                               Milrinone injection    709
17                           Nitroglycerin injection    203
18                                  Shenfu injection    338
19                             Spironolactone tablet   1833
20                                 Torasemide tablet    252
21                      Valsartan Dispersible tablet    348
22                     metoprolol tartrate injection    307
23                  sulfotanshinone sodium injection    570
24                            warfarin sodium tablet    253

In [8]:
#Q68.Find 5 patients with the highest Discharge days greater than 20. List their most common outcome(notcompleted).
df=df_HD

#Displaing discharge day by inpatient no
dischargeDay=df['dischargeDay']
Inpatient_no=df['inpatient_number']
df2 = pd.DataFrame({'inpatient_number': Inpatient_no, 'dischargeDay': dischargeDay})
print(df2)

# Filtering only, base on discharge day>20
filtered_df = df_HD[df_HD['dischargeDay'] > 20]
df3=filtered_df[['inpatient_number','dischargeDay']]
print(df3)

# Top 5 patients
print(df3.head(5))

      inpatient_number  dischargeDay
0               857781            11
1               743087             8
2               866418             5
3               775928            11
4               810128             5
...                ...           ...
2003            740689             5
2004            734280             8
2005            781004            14
2006            744870             1
2007            791864             6

[2008 rows x 2 columns]
      inpatient_number  dischargeDay
7               787530            27
13              744167            22
63              859541            30
68              779834            21
89              773090            26
...                ...           ...
1945            842942            32
1976            777237            21
1987            759370            28
1997            750447            29
1999            804209            29

[102 rows x 2 columns]
    inpatient_number  dischargeDay
7             787530            27
13            744167            22
63            859541            30
68            779834            21
89            773090            26

In [7]:
#17. Using arrays and loops find the number of patients who were Admitted in the month of November

df1=df_HD
AD_value_counts= df1['Admission_date'].value_counts()
print(AD_value_counts)

Admission_date
2018-06-20    6
2018-04-30    6
2017-03-29    6
2017-04-21    6
2017-10-31    5
             ..
2016-01-27    1
2016-10-05    1
2017-07-25    1
2017-08-14    1
2016-07-09    1
Name: count, Length: 1100, dtype: int64